<div class="container mx-auto px-4 py-12 text-center">
  <h1 class="font-bold text-4xl mb-4">Admin Panel</h1>
  <div class="flex flex-col gap-2">
  <%= link_to course_url(Course.first) do %>
    <h1><%= Course.first.title %></h1>
  <% end %>
  </div>
</div>

<hr>
<% if !@user_text_answers.empty? then %>
  <h3>These user answers need feedback...</h3>
  <div class="py-2 container user_text_answers" id="user_text_answers">
    <% @user_text_answers.each do |u| %>
      <div class="user_text_answer" id="user_text_answer_<%= u.id %>">
        <h3 class="title"><%= u.title %></h3>
        <p class="body"><%= u.body %></p>
        <%= link_to 'Give feedback', new_feedback_url(:user_text_answer_id => u.id), data: {turbo_frame: 'modal'} %>
      </div>
    <% end %>
  </div>
<% end %>
<hr>


<div class="py-2 container mx-auto">
  <h3>Previous feedback</h3>
  <% @feedbacks.each do |feedback| %>
    <%= feedback.body %>
    <%= link_to 'See', feedback_url(feedback) %>
    <br>
  <% end %>
</div>