<div class="container mx-auto px-4 py-2 text-center">
  <h1 class="font-bold text-4xl">Admin Panel</h1>
  <% Lesson.all.each do |lesson| %>
    <%= lesson.title %>
    <br>
  <% end %>
</div>

<br>
<% if !@user_text_answers.empty? then %>
  <div class="py-2 container user_text_answers">
    <h3>These user answers need feedback...</h3>
    <% @user_text_answers.each do |u| %>
      <div class="user_text_answer">
        <h3 class="title"><%= u.title %></h3>
        <p class="body"><%= u.body %></p>
      </div>
      <%= link_to 'Give feedback', new_feedback_url(:user_text_answer_id => u.id) %>
    <% end %>
  </div>
<% end %>
<br>
<div class="py-2 container">
  <h3>Previous feedback</h3>
  <% @feedbacks.each do |feedback| %>
    <%= feedback.body %>
    <%= link_to 'See', feedback_url(feedback) %>
    <br>
  <% end %>
</div>