<div class="container mx-auto px-4 py-12 text-center">
  <h1 class="font-bold text-4xl mb-4">Admin Panel</h1>
  <div class="flex flex-col gap-2">
    <%= link_to course_url(Course.first) do %>
      <h1><%= Course.first.title %></h1>
    <% end %>
  </div>
</div>


<div class="py-2 container mx-auto mb-8">
  <h1 class='underline'>Feedback</h1>
<% if !@user_text_answers.empty? then %>
  <div class='pb-8'>
  <h3>These user answers need feedback...</h3>
  <div class="py-2 user_text_answers" id="user_text_answers">
    <% @user_text_answers.each do |u| %>
      <div class="user_text_answer" id="user_text_answer_<%= u.id %>">
        <h3 class="title"><%= u.title %></h3>
        <p class="body"><% u.body %></p>
        <%= link_to 'Give feedback', new_feedback_url(:user_text_answer_id => u.id), data: {turbo_frame: 'modal'}, class: 'btn-pill' %>
      </div>
    <% end %>
  </div>
  </div>
<% end %>

<div class="py-2 mx-auto">
  <h3>Previous feedback</h3>
  <% @feedbacks.each do |feedback| %>
    <div class=''>
    <%= feedback.body %>
    <%= link_to 'See', feedback_url(feedback), class: 'btn-pill' %>
    </div>
  <% end %>
</div>
</div>


<%# Students %>
<div class="container py-2">
  <h1 class='underline'>Current students</h1>
  <div class="flex flex-col gap-2">
    <% @students.each do |student| %>
    <div>
    <%= student.email %>
    </div>
    <% end %> 
  </div>
</div>
