<header class="bg-yellow-100 flex py-1 justify-between px-2 gap-2">
    <%= link_to  root_path, class: 'main-logo mr-auto' do %>
    <h1 class="hidden">Mambo Spanish</h1>

    <%= image_tag 'logo_bg', class: "logo" %>
    <% end %>
    
    <%= link_to 'Home', root_path %>
    <% if user_signed_in?  %>
        <% if active_study_session.nil? || active_study_session.session_ended? %>
            <%= link_to 'Course', course_path(Course.last) %>
        <% elsif action_name === 'show' && controller.controller_name === 'lessons' %>
            <%= active_study_session.time_left %>
        <% elsif  %>
          <%= link_to 'Back to the lesson', lesson_path(active_study_session.lesson) %>
        <% end %>  
        <%= turbo_stream_from "feedbacks_counter_#{current_user.id}" unless current_user.admin? %>
        <%= render partial: 'feedbacks/feedback_count', locals: {current_feedback_counter: current_user.unseen_feedbacks, user_id: current_user.id } unless current_user.admin? %>
    <% end %>
    
    <%= link_to 'FAQ', faq_path %>

    <div class="right">
        <% if user_signed_in?  %>
            <%= link_to current_user.email, admin_path if current_user.admin? %>
            <%= current_user.email if !current_user.admin? %>
            <%= link_to "Sign Out", destroy_user_session_path, data: { "turbo-method": :delete } %>
        <% else %>
            <%= link_to 'Log in', new_user_session_path, class: "btn" %>
        <% end %>
    </div>
</header>