    <div class="home">
    <% if user_signed_in?  %>

 



<div class="w-full min-h-[32rem] relative">
        <div class="logged_in container z-10 relative">
            <h1>Mambo Spanish</h1> 
            <h2>Great to you see here! Let's crash it!</h2><%= icon('fa-solid', 'hat-wizard')%>
        </div>
    <div class="bg-gradient-to-br from-yellow-100 via-amber-100 to-white min-h-full opacity-50 absolute top-0 w-full left-0"></div>
    <div class="bg-gradient-to-bl from-amber-100 via-yellow-200 to-white min-h-full opacity-50 absolute top-0 w-full left-0"></div>
    <div class="bg-gradient-to-b from-yellow-100 via-white  to-white min-h-full opacity-80 absolute top-0 w-full left-0"></div>

 

</div>
<div>
</div>

<div class="diagonal-box min-h-[44rem]">
	<div class="w-full content pt-20">
        <div class="container">
            <div class="">
                <div class="bg-white p-8 rounded-sm shadow-xl">
                    <h1 class="">This is skewed 1</h1>
                </div>
                <div class="bg-white p-8 rounded-sm shadow-xl">
                    <h1 class="">This is 2</h1>
                </div>
                <div class="bg-white p-8 rounded-sm shadow-xl">
                    <h1 class="">This is 3</h1>
                </div>
                <div class="bg-white p-8 rounded-sm shadow-xl">
                    <h1 class="">This is 35</h1>
                </div>
                <div class="bg-white p-8 rounded-sm shadow-xl">
                    <h1 class="">This is 5</h1>
                </div>
            </div>
        </div>


    </div>
</div>
<div class="w-full bg-white relative -top-20">
<h1>Chiki</h1>
</div>


    <% else %>
    <div class="not_logged_in">
        <div class="left">
            <h1>Rock solid Spanish foundations</h1>
            <h5>The most challenging Spanish course for newcomers. Language learning isn't easy but well worth it!</h5>
            <%= link_to 'Register & Start now!', new_user_registration_path, class: "btn-primary" %>

            <%# <%= get_course_btn(Product.last.id, "Buy it & start now!") %> 
        </div>
        <div class="right">

        </div>
    </div>
    <% end %>
    </div>             

<!-- Custom style for toggle -->

<style type="postcss">
    #toggle:checked + label > span:first-child {
  @apply left-[22px];
}
</style>

<!-- Snippet -->
<section class="hidden flex flex-col justify-center antialiased text-gray-600 min-h-screen p-4">
    <div class="h-full">
        <!-- Pricing -->
        <div class="max-w-5xl mx-auto" x-data="{ annual: true }">
            <h2 class="text-3xl text-gray-800 font-bold text-center mb-4">Plans</h2>
            <!-- Toggle switch -->
            <div class="flex justify-center hidden">
                <div class="flex items-center space-x-3 mb-8">
                    <div class="text-sm text-gray-500 font-medium min-w-[120px] text-right">Monthly</div>
                    <div class="relative select-none w-[44px]">
                        <input type="checkbox" id="toggle" class="peer sr-only" x-model="annual" />
                        <label class="block overflow-hidden cursor-pointer h-6 rounded-full bg-gray-400 peer-checked:bg-indigo-500" for="toggle">
                            <span class="absolute block rounded-full w-5 h-5 top-0.5 left-0.5 right-1/2 bg-white shadow-sm transition-all duration-150 ease-out" aria-hidden="true"></span>
                            <span class="sr-only">Pay annually</span>
                        </label>
                    </div>
                    <div class="text-sm text-gray-500 font-medium min-w-[120px]">Annually <span class="text-green-500">(-20%)</span></div>
                </div>
            </div>
            <!-- Pricing tabs -->
            <div class="grid grid-cols-12 gap-6">
                <!-- Free - Tab 1 -->
                <div class="relative col-span-full md:col-span-4 bg-white shadow-md rounded-sm border border-gray-200">
                    <div class="absolute top-0 left-0 right-0 h-0.5 bg-green-500" aria-hidden="true"></div>
                    <div class="px-5 pt-5 pb-6 border-b border-gray-200">
                        <header class="flex items-center mb-2">
                            <div class="w-6 h-6 rounded-full flex-shrink-0 bg-gradient-to-tr from-green-500 to-green-300 mr-3">
                                <%= image_tag 'smile' %>
                            </div>
                            <h3 class="text-lg text-gray-800 font-semibold">Free</h3>
                        </header>
                        <div class="text-sm mb-2">Ideal if you just want to try out MamboSpanish to see if it suits you and your learning style.</div>
                        <!-- Price -->
                        <div class="text-gray-800 font-bold mb-4  text-center">
                            <span class="text-2xl">$</span><span class="text-3xl" x-text="annual ? '14' : '19'">0</span><span class="text-gray-500 font-medium text-sm">/mo</span>
                        </div>
                        <!-- CTA -->
                        <%= button_to "Let's go!", new_user_registration_path, method: :get, class: "plan-btn bg-green-500 hover:bg-green-600" %>
                    </div>
                    <div class="px-5 pt-4 pb-5">
                        <div class="text-xs text-gray-800 font-semibold uppercase mb-4">What's included</div>
                        <!-- List -->
                        <ul>
                            <li class="flex items-center py-1">
                                <svg class="w-3 h-3 flex-shrink-0 fill-current text-green-500 mr-2" viewBox="0 0 12 12">
                                    <path d="M10.28 1.28L3.989 7.575 1.695 5.28A1 1 0 00.28 6.695l3 3a1 1 0 001.414 0l7-7A1 1 0 0010.28 1.28z" />
                                </svg>
                                <div class="text-sm">Access most of the lessons</div>
                            </li>
                            <li class="flex items-center py-1">
                                <svg class="w-3 h-3 flex-shrink-0 fill-current text-green-500 mr-2" viewBox="0 0 12 12">
                                    <path d="M10.28 1.28L3.989 7.575 1.695 5.28A1 1 0 00.28 6.695l3 3a1 1 0 001.414 0l7-7A1 1 0 0010.28 1.28z" />
                                </svg>
                                <div class="text-sm">Limited to 2 lessons per week</div>
                            </li>
                            <li class="flex items-center py-1">
                                <svg class="w-3 h-3 flex-shrink-0 fill-current text-green-500 mr-2" viewBox="0 0 12 12">
                                    <path d="M10.28 1.28L3.989 7.575 1.695 5.28A1 1 0 00.28 6.695l3 3a1 1 0 001.414 0l7-7A1 1 0 0010.28 1.28z" />
                                </svg>
                                <div class="text-sm">Get basic personalized written feedback for your submissions.</div>
                            </li>
                            <li class="flex items-center py-1">
                                <svg class="w-3 h-3 flex-shrink-0 fill-current text-green-500 mr-2" viewBox="0 0 12 12">
                                    <path d="M10.28 1.28L3.989 7.575 1.695 5.28A1 1 0 00.28 6.695l3 3a1 1 0 001.414 0l7-7A1 1 0 0010.28 1.28z" />
                                </svg>
                                <div class="text-sm">Basic learning && tech support</div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Chiki - Tab 2 -->
                <div class="relative col-span-full md:col-span-4 bg-white shadow-md rounded-sm border border-gray-200">
                    <div class="absolute top-0 left-0 right-0 h-0.5 bg-purple-400" aria-hidden="true"></div>
                    <div class="px-5 pt-5 pb-6 border-b border-gray-200 min-h8">
                        <header class="flex items-center mb-2">
                            <div class="w-6 h-6 rounded-full flex-shrink-0 bg-gradient-to-tr from-blue-500 to-blue-300 mr-3">
                                <%= image_tag 'star' %>
                            </div>
                            <h3 class="text-lg text-gray-800 font-semibold">Monthly Subscription</h3>
                        </header>
                        <div class="text-sm mb-2">Your best option if you plan to invest not more than one hour a day to improve your Spanish</div>
                        <!-- Price -->
                        <div class="text-gray-800 font-bold mb-4 text-center">
                            <span class="text-2xl">$</span><span class="text-3xl" x-text="annual ? '34' : '39'">34</span><span class="text-gray-500 font-medium text-sm">/mo</span>
                        </div>
                        <!-- CTA -->
                        <button class=" font-medium text-sm inline-flex items-center justify-center px-3 py-2 border border-transparent rounded leading-5 shadow-sm transition duration-150 ease-in-out border-gray-200 focus:outline-none focus-visible:ring-2 bg-gray-100 text-gray-400 w-full cursor-not-allowed flex items-center" disabled>
                            <svg class="w-3 h-3 flex-shrink-0 fill-current mr-2" viewBox="0 0 12 12">
                                <path d="M10.28 1.28L3.989 7.575 1.695 5.28A1 1 0 00.28 6.695l3 3a1 1 0 001.414 0l7-7A1 1 0 0010.28 1.28z" />
                            </svg>
                            <span>Coming soon</span>
                        </button>
                    </div>
                    <div class="px-5 pt-4 pb-5">
                        <div class="text-xs text-gray-800 font-semibold uppercase mb-4">What's included</div>
                        <!-- List -->
                        <ul>
                            <li class="flex items-center py-1">
                                <svg class="w-3 h-3 flex-shrink-0 fill-current text-green-500 mr-2" viewBox="0 0 12 12">
                                    <path d="M10.28 1.28L3.989 7.575 1.695 5.28A1 1 0 00.28 6.695l3 3a1 1 0 001.414 0l7-7A1 1 0 0010.28 1.28z" />
                                </svg>
                                <div class="text-sm">Access all the lessons</div>
                            </li>
                            <li class="flex items-center py-1">
                                <svg class="w-3 h-3 flex-shrink-0 fill-current text-green-500 mr-2" viewBox="0 0 12 12">
                                    <path d="M10.28 1.28L3.989 7.575 1.695 5.28A1 1 0 00.28 6.695l3 3a1 1 0 001.414 0l7-7A1 1 0 0010.28 1.28z" />
                                </svg>
                                <div class="text-sm">Access up to 7 lessons per week</div>
                            </li>
                            <li class="flex items-center py-1">
                                <svg class="w-3 h-3 flex-shrink-0 fill-current text-green-500 mr-2" viewBox="0 0 12 12">
                                    <path d="M10.28 1.28L3.989 7.575 1.695 5.28A1 1 0 00.28 6.695l3 3a1 1 0 001.414 0l7-7A1 1 0 0010.28 1.28z" />
                                </svg>
                                <div class="text-sm">Get personalized written feedback for your submissions, with great details and tips on how to improve and keep your learning rolling.</div>
                            </li>
                            <li class="flex items-center py-1">
                                <svg class="w-3 h-3 flex-shrink-0 fill-current text-green-500 mr-2" viewBox="0 0 12 12">
                                    <path d="M10.28 1.28L3.989 7.575 1.695 5.28A1 1 0 00.28 6.695l3 3a1 1 0 001.414 0l7-7A1 1 0 0010.28 1.28z" />
                                </svg>
                                <div class="text-sm">Schedule a individual consulting/support session with a teacher (15'/week)</div>
                            </li>
                            <li class="flex items-center py-1">
                                <svg class="w-3 h-3 flex-shrink-0 fill-current text-green-500 mr-2" viewBox="0 0 12 12">
                                    <path d="M10.28 1.28L3.989 7.575 1.695 5.28A1 1 0 00.28 6.695l3 3a1 1 0 001.414 0l7-7A1 1 0 0010.28 1.28z" />
                                </svg>
                                <div class="text-sm">Can join the weekly practice live sessions</div>
                            </li>
                            <li class="flex items-center py-1">
                                <svg class="w-3 h-3 flex-shrink-0 fill-current text-green-500 mr-2" viewBox="0 0 12 12">
                                    <path d="M10.28 1.28L3.989 7.575 1.695 5.28A1 1 0 00.28 6.695l3 3a1 1 0 001.414 0l7-7A1 1 0 0010.28 1.28z" />
                                </svg>
                                <div class="text-sm">Full learning && tech support</div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Life-long - Tab 3 -->
                <div class="relative col-span-full md:col-span-4 bg-white shadow-md rounded-sm border border-gray-200">
                    <div class="absolute top-0 left-0 right-0 h-0.5 bg-indigo-500" aria-hidden="true"></div>
                    <div class="px-5 pt-5 pb-6 border-b border-gray-200">
                        <header class="flex items-center mb-2">
                            <div class="w-6 h-6 rounded-full flex-shrink-0 bg-gradient-to-tr from-indigo-500 to-indigo-300 mr-3">
                                <%= image_tag 'globe' %>
                            </div>
                            <h3 class="text-lg text-gray-800 font-semibold">Forever</h3>
                        </header>
                        <div class="text-sm mb-2">For very motivated learners willing to put in more than one hour day.</div>
                        <!-- Price -->
                        <div class="text-gray-800 font-bold mb-4 text-center">
                            <span class="text-2xl">$</span><span class="text-3xl" x-text="annual ? '74' : '79'">350</span><br><span class="text-gray-500 font-medium text-sm"> One-time payment</span>
                        </div>
                        <!-- CTA -->
                        <%= course_btn(Product.last.id, "Let's go!", "plan-btn") %>
                    </div>
                    <div class="px-5 pt-4 pb-5">
                        <div class="text-xs text-gray-800 font-semibold uppercase mb-4">What's included</div>
                        <!-- List -->
                        <ul>
                            <li class="flex items-center py-1">
                                <svg class="w-3 h-3 flex-shrink-0 fill-current text-green-500 mr-2" viewBox="0 0 12 12">
                                    <path d="M10.28 1.28L3.989 7.575 1.695 5.28A1 1 0 00.28 6.695l3 3a1 1 0 001.414 0l7-7A1 1 0 0010.28 1.28z" />
                                </svg>
                                <div class="text-sm">Access all the lessons</div>
                            </li>
                            <li class="flex items-center py-1">
                                <svg class="w-3 h-3 flex-shrink-0 fill-current text-green-500 mr-2" viewBox="0 0 12 12">
                                    <path d="M10.28 1.28L3.989 7.575 1.695 5.28A1 1 0 00.28 6.695l3 3a1 1 0 001.414 0l7-7A1 1 0 0010.28 1.28z" />
                                </svg>
                                <div class="text-sm">Unlimited lessons per week</div>
                            </li>
                            <li class="flex items-center py-1">
                                <svg class="w-3 h-3 flex-shrink-0 fill-current text-green-500 mr-2" viewBox="0 0 12 12">
                                    <path d="M10.28 1.28L3.989 7.575 1.695 5.28A1 1 0 00.28 6.695l3 3a1 1 0 001.414 0l7-7A1 1 0 0010.28 1.28z" />
                                </svg>
                                <div class="text-sm">Get personalized written + video feedback for your submissions, with great details and tips on how to improve and keep your learning rolling.</div>
                            </li>
                            <li class="flex items-center py-1">
                                <svg class="w-3 h-3 flex-shrink-0 fill-current text-green-500 mr-2" viewBox="0 0 12 12">
                                    <path d="M10.28 1.28L3.989 7.575 1.695 5.28A1 1 0 00.28 6.695l3 3a1 1 0 001.414 0l7-7A1 1 0 0010.28 1.28z" />
                                </svg>
                                <div class="text-sm">Schedule live session with a teacher(2x20'/week)</div>
                            </li>
                            <li class="flex items-center py-1">
                                <svg class="w-3 h-3 flex-shrink-0 fill-current text-green-500 mr-2" viewBox="0 0 12 12">
                                    <path d="M10.28 1.28L3.989 7.575 1.695 5.28A1 1 0 00.28 6.695l3 3a1 1 0 001.414 0l7-7A1 1 0 0010.28 1.28z" />
                                </svg>
                                <div class="text-sm">Can join the weekly practice live sessions</div>
                            </li>
                            <li class="flex items-center py-1">
                                <svg class="w-3 h-3 flex-shrink-0 fill-current text-green-500 mr-2" viewBox="0 0 12 12">
                                    <path d="M10.28 1.28L3.989 7.575 1.695 5.28A1 1 0 00.28 6.695l3 3a1 1 0 001.414 0l7-7A1 1 0 0010.28 1.28z" />
                                </svg>
                                <div class="text-sm">Full learning support service</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
