<%# Text Block info %>
<div id="<%= dom_id user_text_block %>" class="">
  <h3 class="my-5 hidden">
    <%= user_text_block.promptTitle %>
  </h3>

  <p class="my-5">
    <%= user_text_block.promptBody %>
  </p>

  <p class="my-5">Recommended word count:
    <%= user_text_block.promptLength %>
  </p>
</div>

<%# User Answer %>
<% if user_text_block.answered?(current_user) %>
  <%= turbo_frame_tag 'user_text_answer' do %>
    <%= render user_text_block.user_text_answers.where(user_id: current_user) %>
  <% end %>
  <% if user_text_block.user_text_answers.where(user_id: current_user).first.feedback.present? %>
    <%= render user_text_block.user_text_answers.where(user_id: current_user).first.feedback %>
  <% end %>
<% else %>
  <%= turbo_frame_tag 'user_text_answer', src: new_user_text_block_user_text_answer_path(user_text_block) %>
<% end %>
