<div id="<%= dom_id lesson %>" class="pb-12">

  <div class="py-8 px-32">
    <% @lesson_groups.each do |group| %> 
      <div class="container shadow-sm rounded-lg bg-pink-50 mb-4 px-4 py-6">
        <% if current_user.admin? %>
          <div class="relative flex">
            <%= image_tag 'icons/grab', class: "h-8 w-8 align-middle absolute -left-14 cursor-grab rounded-sm hover:bg-slate-100"%>
            <%= link_to lesson_group_path(group.id), class: 'w-auto no-underline px-10 py-3 text-gray-900' do %>
            <h2 class="inline-block">
              <%= group.title %>
            </h2>
          <% end %>
            <div class="ml-auto inline-block text-sm leading-none rounded no-underline text-gray hover:text-gray-900 hover:bg-white mt-4 lg:mt-0">
              <div class="relative" data-controller="dropdown">
                <div data-action="click->dropdown#toggle click@window->dropdown#hide" role="button" data-dropdown-target="button" tabindex="0" class="inline-block select-none  px-2 py-2 hover:opacity-80">
                  <span class="appearance-none inline-block text-gray-700">
                      <%= image_tag  'icons/more', class: "h-4 w-4 align-middle" %>
                  </span>
                </div>
                <div data-dropdown-target="menu" class="absolute right-0 mt-2 z-50">
                  <div class="bg-white shadow rounded border overflow-hidden block">
                        <%= link_to edit_lesson_group_path(group.id), class: 'w-auto no-underline px-10 py-3 text-gray-900 bg-white hover:bg-gray-300 whitespace-nowrap flex  items-center   gap-2',   data: {action: "click->dropdown#toggle" }  do %>
                          <%= image_tag 'icons/edit', class: "icon-small" %>
                          Edit lesson group
                        <% end %>
                        <%= link_to unlink_path(group.id), class: 'w-auto no-underline px-10 py-3 text-gray-900 bg-white hover:bg-gray-300 whitespace-nowrap flex  items-center   gap-2',   data: {action: "click->dropdown#toggle", 'turbo-method': :delete, confirm: 'Are you sure?'}  do %>
                          <%= image_tag 'icons/unlink', class: "icon-small" %>
                          Unlink lesson group
                        <% end %>
                        <hr>
                        <%= link_to lesson_block_path(group.id), class: 'w-auto no-underline px-10 py-3 text-gray-900 bg-white hover:bg-gray-300 whitespace-nowrap flex items-center   gap-2',  data: {action: "click->dropdown#toggle", 'turbo-method': :delete, confirm: 'Are you sure?'}  do  %>
                          <%= image_tag 'icons/delete', class: "icon-small" %>
                            Delete Lesson Group
                        <% end %>
                  </div>
                </div>
              </div>
            </div>

          </div>
        <% else %>
            <h1 class="inline-block"> 
              <%= group.title %>
            </h1>
        <% end %>



      </div>
    <% end %>
  </div>
</div>