<div id="<%= dom_id lesson %>">
  <p>
    <strong>Title:</strong>
    <%= lesson.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= lesson.description %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= lesson.product_id %>
  </p>
  <br><br>
  
  Total blocks: <%= lesson.lesson_blocks.count %><br>

  <% lesson.lesson_blocks.each do |block| %>
  <div class="bg-purple-200 p-1">
    <%= block.position %> <%= block.title %>
  </div>
  <% end %>
</div>
<hr>
