<div id="<%= dom_id lesson %>">
  <p>
    <strong>Title:</strong>
    <%= lesson.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= lesson.description %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= lesson.position %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= lesson.product_id %>
  </p>
<%= lesson%>
</div>
