<div class="flex gap-2 flex-col">
    <%= link_to edit_lesson_path(@lesson) do %>
        <%= image_tag 'icons/edit', class: "edit-lesson-btn h-8 w-8 hover:bg-purple-100" %>
    <% end %>
    
    <%= link_to toggle_active_lesson_path(@lesson), data: { 'turbo-method' => :post} do %>
        <% if  @lesson.active %>
        <%= image_tag 'icons/active-bg', class: "active-lesson h-8 w-8" %>
        <% else %>
        <%= image_tag 'icons/inactive-bg', class: "inactive-lesson h-8 w-8" %>
        <% end %>
    <% end %>

    <%= link_to lesson_path(@lesson.id), id: "destroy-lesson-btn", data: {'turbo-method': :delete, confirm: 'Are you sure?'}  do %>
        <%= image_tag 'icons/delete', class: "h-8 w-8 " %>
    <% end %>
</div>