<div id="<%= dom_id lesson %>" class="container bg-amber-200">
  <p>
    <strong>Title:</strong>
    <%= lesson.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= lesson.description %>
  </p>

  <% if current_user.admin? then %>
    <p>
      <strong>Product:</strong>
      <%= lesson.product_id %>
    </p>
    <br><br>
    Total blocks: <%= lesson.lesson_blocks.count %><br>
  <% end %>


  <% lesson.lesson_blocks.each do |block| %>
    <div class="bg-purple-200 p-1"> 
      <%= link_to "Delete block", lesson_block_path(block.id),  data: { 'turbo-method': :delete, confirm: 'Are you sure?'}  %>
      <%= link_to "Unlink block from this lesson", unlink_path(block.id),  data: { 'turbo-method': :delete, confirm: 'Are you sure?'}  %>
      <br>
      <%= block.lesson_id %> || <%= block.position %> | <%= block.title %>
      <% if block.block_type === 'RichBlock' %>
        <%= block.block.content %>
        
      <% end %>
    </div>
  <% end %>
</div>
<hr>
