<h1>Lessons</h1>

<%# Lessons  %>
<div id="lessons" class="container">
  <% @lessons.each do |lesson| %>
    <% if current_user.admin? %>
      <%= link_to toggle_active_lesson_path(lesson), data: { 'turbo-method' => :post} do %>
            <% if lesson.active %>
              <%= image_tag 'icons/active-bg', class: "inline h-4 w-4" %>
            <% else %>
              <%= image_tag 'icons/inactive-bg', class: "inline h-4 w-4" %>
            <% end %>
      <% end %>        
    <% end %>
    <%= link_to lesson.title, lesson_path(lesson), class: 'lesson_link' %>
     <br>
    <% end %>
      
</div>

<% if current_user.admin? %>
  <hr class="my-8">
  <%# Lonely Blocks %>
  <div class="container">
    <h1>Lonely Lesson Groups (<%= @lonely_lesson_groups.count %>)</h1>
    <div id="lonely-lesson-blocks" class="container">
      <% @lonely_lesson_groups.each do |lesson_group| %>

        <%= lesson_group.title %>

        <br>
      <% end %>
    </div>
  </div>

  <%= link_to "New lesson", new_lesson_path %>
<% end %>