<div>
    <% if current_user.admin? %>
            <%= render 'lessons/admin/lesson_header' %>
            <%= render 'lessons/admin/lesson_groups', lesson_groups: @lesson_groups %>
            <div class="container pb-8">
                <%= link_to '< All lessons', course_path(@lesson.course), class: "btn btn-2" %>
            </div>
    <% else %>
      <div class="relative left-0 transition-all ease-out duration-500" data-controller="navigation">

        
      <%= turbo_frame_tag "navigation" do  %>
          <%= render partial: 'lessons/navigation', locals: { lesson: @lesson, opened: false} %>
      <% end %>
          <%= turbo_frame_tag "lesson_header" do %>
        <%= render partial: 'lessons/lesson_header',
            locals: 
                { lesson: @lesson,
                study_session: current_user.study_session
                } 
        %>
    <% end %>
        <% if @active_lesson_group %>
          <%= turbo_frame_tag "lesson_group_frame", src: "/lesson_groups/#{@active_lesson_group}" %>
        <% else %>
          <%= turbo_frame_tag "lesson_group_frame" do  %>
            <%= render partial: 'lessons/lesson_intro', locals: { lesson: @lesson } %>
          <% end %>
        <% end %>
      </div>
    <% end %>
</div>
