<div>
        <% if current_user.admin? %>

            <%= render 'lessons/admin/lesson_header' %>
            <%= render @lesson %>
            <div class="container pb-8">
                <%= link_to '< All lessons', course_path(@lesson.course), class: "btn btn-2" %>
            </div>
        <% else %>
        <%= render partial: 'lessons/default/lesson_header',
            locals: 
                { lesson: @lesson,
                study_session: current_user.study_session
                } 
        %>


        <%= render partial: 'lesson_groups/lesson_group',
            locals: 
                { lesson_group: @active_lesson_group
                }
        %>
        <% end %>

 
</div>