<%= render @lesson %>

<div>

  <%= link_to "New rich block", new_rich_block_path(lesson_id: @lesson.id) %>

  <%= link_to "Edit this lesson", edit_lesson_path(@lesson) if current_user.admin? %> |
  <%= link_to "Back to lessons", lessons_path %>

  <%= button_to "Destroy this lesson", @lesson, method: :delete if current_user.admin? %>
</div>
