
<div class="flex gap-2 rounded-md fixed bottom-8 right-8 items-center shadow-xl  text-xl  overflow-hidden ">



    <%= controls_button('Previous', lesson_group) %>
    <div class="px-2 font-bold">
        <span><%= lesson_group.position %></span>
        /
        <span><%= total_lesson_groups %></span>
    </div>
    <%= controls_button('Next', lesson_group) %>
    <%= controls_button('Finish', lesson_group) %>
</div>