<header class=" s flex py-2 justify-between px-2 gap-8 items-center">
    <%= link_to root_path, class: 'ml-16 main-logo' do %>
        <h1 class="hidden">Mambo Spanish</h1>
        <%= image_tag 'logo_bg', class: "logo h-10" %>
    <% end %>
    <div class="flex items-center gap-3"> 
        
        <%= link_to 'FAQ', faq_path unless true %>

        <% if !user_signed_in? %>
            <%= render partial: 'partials/nav/unauthenticated' %>
        <% elsif current_user.admin? %>
            <%= render partial: 'partials/nav/admin' %>
        <% else %>
            <%= render partial: 'partials/nav/authenticated' %>
        <% end %>
        </div>
    </div>
</header>
