<%= form_with(model: multiple_open_block, class: "contents", data: {controller: "nested"}) do |form| %>
  <%# Errors %>
  <% if multiple_open_block.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(multiple_open_block.errors.count, "error") %> prohibited this multiple_open_block from being saved:</h2>

      <ul>
        <% multiple_open_block.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%# Multiple Block %>
  <div>
    <div class="my-5">
      <%= form.label :title %>
      <%= form.text_field :title, required: true, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-5">
      <%= form.label :body %>
      <%= form.text_area :body, rows: 4, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
  </div>

  <%# Lesson Block %>
  <div class="my-4">
    <%= form.fields_for :lesson_block do |lesson_block_form| %> 
      <%= lesson_block_form.label :title %>
      <%= lesson_block_form.text_field :title, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full"  %> 
      <%= lesson_block_form.hidden_field :lesson_group_id, value: @lesson_group_id %>
    <% end %>
 </div>

  <%# Multiple Pieces %>
  <div class="multiple-wrapper">
  
    <div class="my-4 p-4 bg-purple-50 rounded-sm border-2 border-purple-600">
      <%= form.fields_for :multiple_open_pieces, class: "bg-green-200 py-8" do |multiple_open_pieces_form| %>
        <div class="py-4 flex gap-4 items-center piece" data-nested-target="piece" data-action="keyup->nested#removeField:prevent">
          <div>
            <%= multiple_open_pieces_form.label :full, class:"block" %>
            <%= multiple_open_pieces_form.text_field :full, required: true, class:"rounded-xl w-full" %>
          </div>
          <div class="">
            <%= multiple_open_pieces_form.label :shown, class:"block" %>
            <%= multiple_open_pieces_form.text_field :shown, required: true, class:"w-full" %>
          </div>
          <div class="">
            <%= multiple_open_pieces_form.label :hint, class:"block" %>
            <%= multiple_open_pieces_form.text_field :hint, class:"w-full" %>
          </div>
          <div data-action="click->nested#removeField:prevent" class="mt-6 cursor-pointer block w-8 ml-auto border-transparent border-2 hover:border-sky-600 rounded-full" >
            <%= image_tag "icons/remove.svg", class: "block w-full" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <%# Submit %>
  <div class="flex gap-4">
    <button data-action="nested#addField:prevent" class="rounded-lg py-3 px-5 font-medium cursor-pointer bg-indigo-50 text-indigo-900">+ Answer</button>
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white font-medium cursor-pointer" %>
  </div>

  
<% end %>
