<%= turbo_frame_tag "block" do %>
  <div id="<%= dom_id multiple_open_block %>">
    <h1>DEFA</h1>
    <p class="my-5">
      <strong class="block font-medium mb-1">Title:</strong>
      <%= multiple_open_block.title %>
    </p>

    <p class="my-5">
      <strong class="block font-medium mb-1">Body:</strong>
      <%= multiple_open_block.body %>
    </p>
    <%= multiple_open_block.multiple_open_pieces %>
  </div>
<% end %>