  <div id="<%= dom_id multiple_open_block %>" class="w-2/3 mx-auto">
    <h3 class="text-slate-800 font-bold underline underline-offset-4 text-3xl text-center mb-8 hidden">
      <%= multiple_open_block.title %>
    </h3>

    <p class="my-5 hidden">
      <%= multiple_open_block.body %>
    </p> 


<% if multiple_open_block.answered?(current_user) %>
  <%= turbo_frame_tag 'multiple_open_answers', src: multiple_open_block_multiple_open_answers_path(multiple_open_block) %>
<% else %>
  <%= turbo_frame_tag 'multiple_open_answers', src: new_multiple_open_block_multiple_open_answer_path(multiple_open_block) %>
<% end %>


  </div>
