<%= render @course %>

<br>

<%# Lessons  %>
<div id="lessons" class="container mb-10">
  <% @course.lessons.each do |lesson| %>
    <% if current_user.admin? %>
    <div class="my-1 p-2">
      <%= image_tag 'icons/grab', class: "h-8 w-8 align-middle inline-block cursor-grab rounded-sm hover:bg-slate-100" %>
        <%= link_to toggle_active_lesson_path(lesson), data: { 'turbo-method' => :post} do %>
              <% if lesson.active %>
                <%= image_tag 'icons/active-bg', class: "inline h-4 w-4" %>
              <% else %>
                <%= image_tag 'icons/inactive-bg', class: "inline h-4 w-4" %>
              <% end %>
        <% end %>        
      <% end %>       
      <%= link_to lesson.title, lesson_path(lesson) %>
    </div>
    
<% end %>
      
</div>
