<div id="<%= dom_id product %>">
  <p>
    <strong>Name:</strong>
    <%= product %>
  </p>

  <p>
    <strong>Sales:</strong>
    <%= product.sales_count %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= number_to_euro  (product.price/100) %>
  </p>

  <p>
    <strong>Payment:</strong>
    <%# <%= get_course_btn(product.id) %>
  </p>

</div>
