<!DOCTYPE html>
<html>
  <head>
    <title>Mambo Spanish</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://js.stripe.com/v3/"></script>
    <%= favicon_link_tag asset_path('favicon/favicon-32x32.png') %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="flex flex-col min-h-screen">
    <% if current_user && !current_user.admin? %>
      <%= turbo_stream_from dom_id(current_user, 'unseen_feedback') %>
      <div class="text-3xl" id="unseen_feedback">
        <%= render partial: 'feedbacks/unseen_feedbacks_count', locals: { user: current_user } unless !current_user %>
      </div>
    <% end %>
    
    <%= turbo_frame_tag "modal", class: "absolute left-2/4 top-2/4 z-10 -translate-x-2/4 -translate-y-2/4 " %>
    <%= render partial: 'partials/nav/nav' %>
    <main class="mb-auto">
      <%= render partial: 'partials/flash' %>
      <%= link_to 'Courses', :products, style: "display:none" %> 
      <%= yield %>
    </main>
    
 

      <%= render partial: 'partials/footer' %>
  </body>
</html>
