<!DOCTYPE html>
<html>
  <head>
    <title>Mambo Spanish</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://js.stripe.com/v3/"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <header>
  <h6>MamboSpanish</h6>
    <nav>
        <%= link_to 'Home', root_path %>
        <%= link_to 'FAQ', faq_path %>
        <% if user_signed_in?  %>
            <%= link_to "Sign Out", destroy_user_session_path, data: { "turbo-method": :delete } %>
        <% else %>
            <%= link_to 'Log in', new_user_session_path %>
        <% end %>
    </nav>
  </header>
    <main>
      <%= link_to 'Courses', :products, style: "display:none" %> 
  
      <%= yield %>
      <%= render partial: 'partials/flash' %>
    
    </main>
    <footer>
    <p>Made with ❤️ by Martin Arce</p>
    </footer>
  </body>
</html>
