<!DOCTYPE html>
<html>
  <head>
    <title>Mambo Spanish</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://js.stripe.com/v3/"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render partial: 'partials/nav' %>

    <main>
      <%= link_to 'Courses', :products, style: "display:none" %> 
      <%= yield %>
      <%= render partial: 'partials/flash' %>
    
    </main>
    <footer>
    <p>Made with ❤️ by Martin Arce</p>
    </footer>
  </body>
</html>
