<!DOCTYPE html>
<html>
  <head>
    <title>Mambo Spanish</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://js.stripe.com/v3/"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;500;800&display=swap" rel="stylesheet"> 

  </head>

  <body>
    <%= render partial: 'partials/nav' %>

    <main>
      <%= link_to 'Courses', :products, style: "display:none" %> 
      <%= yield %>
      <%= render partial: 'partials/flash' %>
    
    </main>
    
    <footer>
      <p>Made with ❤️ by <%= link_to 'Martin Arce', 'http://www.martin-arce.com' %></p>
    </footer>
  </body>
</html>
