<!DOCTYPE html>
<html>
  <head>
    <title>Mambo Spanish</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://js.stripe.com/v3/"></script>
    <%= favicon_link_tag asset_path('favicon/favicon-32x32.png') %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="flex flex-col min-h-screen">
    <%= render partial: 'partials/nav' %>
    <main class="mb-auto">
      <%= render partial: 'partials/flash' %>
      <%= link_to 'Courses', :products, style: "display:none" %> 
      <%= yield %>
    </main>
    
    <footer class="mt-24 px-4 py-6 bg-yellow-100 text-center">
      <p>Made with ❤️ by <%= link_to 'Martin Arce', 'http://www.martin-arce.com' %></p>
    </footer>
  </body>
</html>
